<p id="notice"><%= notice %></p>

<div class="container"> 
  <div class="row">
  
    <h1>Tasks</h1>

    <h2>Content</h2>
      <% @tasks.each do |task| %>
        <%= task.content %>
        <%= link_to 'Show', task %>
        <%= link_to 'Edit', edit_task_path(task) %>
        <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>

    <br>

  </div>

  <div class="row">
    <%= link_to 'New Task', new_task_path %>
  </div>
</div>
